---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const happy = true;
const finished = true;
const goal = 3;

const identity = {
  firstName: "Thyssa",
  country: "Waregem",
  occupation: "Full Stack Web Developer",
  hobbies: ["playing with my dog", "guitar", "walking"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Vue", "Astro"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
  html.dark .skill {
    color: #31a9ff;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hi, I'm <span class="skill">{identity.firstName}</span> and I'm from{" "}
    <span class="skill">{identity.country}</span>. I'm a{" "}
    <span class="skill">{identity.occupation}</span> and I love{" "}
    <span class="skill">{identity.hobbies[0]}</span>,{" "}
    <span class="skill">{identity.hobbies[1]}</span> and{" "}
    <span class="skill">{identity.hobbies[2]}</span>.
  </p>
  <p>
    <ul>
      {skills.map(skill => <li class="skill">{skill}</li>)}
    </ul>
  </p>
</BaseLayout>
